/* simplicity Theme by D5 Creation, www.d5creation.com
/* =Responsive Design 
-------------------------------------------------------------- */
@media screen and (max-width:800px){body,
#container,
#top-menu-container,
#header,
#header-content,
#content-full,
.conwidth,
#footer,
#footer-sidebar,
#footer-content,
#creditline,
#slide-container,
#slide,
#slide img,
img.site-logo, h1.site-title,
#heading,
.heading-desc{max-width:100%;min-width:0;}
body{padding:0 5px;}
#slide-container,
#slide,
#slide img,
#header-bottom{height:auto;}
#heading{margin:0 auto 40px;}
.heading-desc{clear:both;}
.featured-box,
#right-sidebar,
#footer-sidebar #footer-widget,
#simplicity-main-menu{clear:both;float:none;margin:0 auto;width:100%;}
#featured-boxs img.box-image{clear:both;display:block;margin-bottom:10px;}
#design-main-menu ,
#content{float:none;width:100%;}
#footer-sidebar #footer-widgets,
#footer-sidebar #first-footer-widget{width:100%;margin:0 5px;}
#client img{margin:5px;max-height:50px;vertical-align:middle;width:50px;}
.postmetadata,
.postmetadata:hover{max-width:70%;}
}